<h4>All Tasks</h4>

  {{#each data as |task|}}
    <ul>
      <li><h4>{{task.title}}</h4>
      <p>On {{moment task.scheduledStartDateTime format="dddd, DD MMMM YYYY"}}</p>
      <p>@ {{moment task.scheduledStartDateTime format="HH:mm"}} - {{moment task.scheduledEndDateTime format="HH:mm"}}</p>
      </li>
    </ul>
  {{/each}}

<h4>Form for Single String input</h4>
<form action="/task/form" method="post">
    <input id="nlpInput" type="text" name="nlp" placeholder="enter task, time, date">
    <button>Add new task</button>
</form>

<h4>Search by Keyword</h4>
    <form action="/task/keyword" method="post">
      <input type="text" name="keyword" placeholder="search for...">
      <button>Search by keywords</button>
    </form>

  <h4>Search by Time</h4>
  <form action="/task/time" method="post">
    <input type="datetime-local" name="startTimeSearch" placeholder="startTimeSearch">
    <input type="datetime-local" name="endTimeSearch" placeholder="endTimeSearch">
    <button>Search by Time</button>
  </form>
