<div class="container">
<div class="right">
  <h4>Saved Tasks</h4>
<nav>
<div class="nav-wrapper">
  <a href="#" class="brand-logo right">Logo</a>
  <ul id="nav-mobile" class="left hide-on-med-and-down">
    <li><a href="/task/day">Today</a></li>
    <li><a href="/task/month">Month</a></li>
    <li><a href="/task">All</a></li>
  </ul>
</div>
</nav>
  <ul class="collection">
  {{#each data as |task|}}
    <li class="collection-item avatar">
      <h4>{{task.title}}</h4>
      <p>On {{moment task.scheduledStartDateTime format="dddd, DD MMMM YYYY"}}</p>
      <p>@ {{moment task.scheduledStartDateTime format="HH:mm"}} - {{moment task.scheduledEndDateTime format="HH:mm"}}</p>
    </li>
  {{/each}}
</ul>
</div>

<div class="left">
<h4>What task would you like to add?</h4>
<form action="/task/form" method="post">
    <input id="nlpInput" type="text" name="nlp" placeholder="enter task, time, date">
    <button class="waves-effect waves-light btn">Add new task</button>
</form>

<h4>Filter for Saved Tasks</h4>
    <form action="/task/keyword" method="post">
      <input type="text" name="keyword" placeholder="Search by keyword...">
      <button class="waves-effect waves-light btn">Search by keywords</button>
    </form>

    <form action="/task/time" method="post">
    <input type="text" placeholder="2017-01-01 00:00" class="datetimepicker" name="startTimeSearch">
    <input type="text" placeholder="2017-01-01 00:00" class="datetimepicker" name="endTimeSearch">
    <button class="waves-effect waves-light btn">Search by Time</button>
    </form>
</div>
</div>
  {{!-- <form action="/task/time" method="post">
    <input type="datetime-local" name="date" placeholder="startTimeSearch" class="c-datepicker-input">
    <input type="text" name="startTime" placeholder="startTimeSearch" class="timepicker">
    <input type="text" name="endTime" placeholder="endTimeSearch" class="timepicker">
    <button>Search by Time</button>
  </form> --}}
